<header class="p-3 bg-primary text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center" style="justify-content: space-between;">
      <div class="d-flex align-items-center">

        <h1 [routerLink]="['/']"  >WowList</h1>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <!-- <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li> -->
        </ul>
      </div>

      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form> -->

      <div class="text-end" *ngIf="!isLoggedIn">
        <button type="button" class="btn btn-outline-light me-2" routerLink="login">Login</button>
        <button type="button" class="btn btn-warning" routerLink="sign-up">Sign-up</button>
      </div>
      <div class="text-end" *ngIf="isLoggedIn">
        <button type="button" class="btn btn-warning" (click)="signOut()">Sign-out</button>
      </div>
    </div>
  </div>
</header>
