<div class="container">
  <ul class="list-group" *ngIf="selectedList">
    <h2>{{selectedList.name}}</h2>
    <li
      *ngFor="let todo of selectedListTodos "
      class="list-group-item flex" style="justify-content: space-between;"
      [ngClass]="{ completed: todo.completed }">
      <div class="flex" >
        <div class="form-check flex"  >
          <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="todo.completed"
          (ngModelChange)="updateTodoItem(todo)"
          />
        </div>
        <span>{{ todo.task | pipes:'right' }}</span>
      </div>
      <div class="icons">
        <button class="btn btn-danger" (click)="removeTodo(todo)"><i class="bi bi-trash" style="color: white;"></i></button>

      </div>
    </li>
    <app-add-todo></app-add-todo>
  </ul>
</div>
