.completed {
  text-decoration: line-through;
  color: lightgray;
}


span {
  margin-left: 24px;
}

 li {
   height: 75px;
 }

.icons {
  display: none;
}

li:hover .icons {
  display: flex;
  font-size: larger;
}


